@model GestionaleNegozio.Models.Ordine

@{
    ViewData["Title"] = "Order Details";
    var negozio = ViewBag.Negozio as GestionaleNegozio.Models.Negozio;
    var prodotto = ViewBag.Prodotto as GestionaleNegozio.Models.Prodotto;
}

<h1>Order Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Store
        </dt>
        <dd class="col-sm-10">
            @(negozio?.Città ?? "Unknown") - @(negozio?.Indirizzo ?? "")
        </dd>

        <dt class="col-sm-2">
            Product
        </dt>
        <dd class="col-sm-10">
            @(prodotto?.Nome ?? "Unknown") - @(prodotto?.Prezzo.ToString("C") ?? "")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantitaTotale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantitaTotale)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrdine)
        </dt>
        <dd class="col-sm-10">
            @Model.DataOrdine.ToString("dd/MM/yyyy HH:mm")
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <span>|</span>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
