@model GestionaleNegozio.Models.Ordine

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNegozio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNegozio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdotto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProdotto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantitaTotale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantitaTotale)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrdine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataOrdine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <span>|</span>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
